$main-background: hsl(233, 47%, 7%);
$card-background: #1b1938;
$violet-accent: rgb(170, 92, 219);
$main-heading: hsl(0, 0%, 100%);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$stat-headings: hsla(0, 0%, 100%, 0.6);
